AUTH_DB_USER=YOUR_AUTH_USER
AUTH_DB_PASSWORD=YOUR_AUTH_PASS

WALLET_DB_USER=YOUR_WALLET_USER
WALLET_DB_PASSWORD=YOUR_WALLET_PASS

TRANSACTIONS_DB_USER=YOUR_TRANSACTIONS_USER
TRANSACTIONS_DB_PASSWORD=YOUR_TRANSACTIONS_PASS

NOTIFICATION_DB_USER=YOUR_NOTIFICATION_USER
NOTIFICATION_DB_PASSWORD=YOUR_NOTIFICATION_PASS

REDIS_PASSWORD=YOUR_REDIS_PASS